# **Introduction to Python programming**

## **What is a Python program?**

A Python program is a sequence of instructions written in Python that are executed in a sequential order to perform some action.

Below is a simple Python program. Press the **play** button to execute it.

In [ ]:
print('Hello, World!')

Hello, World!

Well done! You have just run your first Python program.

The `print()` function prints the specified message to the screen. You can change this with anything you like. Now try typing your name and re-running the program.

## **Data Types**

Python can store objects of different types and different data types can do different things.

Basic data types are: integer, floating point (rational), string and boolean.

In [ ]:
a = 11 # integer
b = 123.4 # float
c = 'Humanitarian' # string
d = True # boolean

# Anything after an hashtag is a comment. The program won't read it

*Note:* to define a **string**, quotes are needed. You can use both `'` or `"`.

Now run the code above using the **play** button. The `=` operator assigns each value to a specific variable. By running the code snippet, we have stored the values in the specified variables. We can now print the specific values by calling the variable instead inside the `print()` function.

In [ ]:
print(a)

11

 The `type()` function prints the data type of the specified object.

In [ ]:
type(a)

int

Feel free to play around with the code snippets above, printing the other variables and their data type.

You can run simple expressions with basic data types.

In [ ]:
A = 5 + 9 # add
B = 5 - 11 # subtract
C = 4/2 # divide
D = 11 * 2 # multiply
E = 4**2 # exponent
F = 7%2 # modulo

Now check your outputs.

In [ ]:
print(A) # or B or C..

14

Also variables can be called in expressions and operations can mix integers and floats.

In [ ]:
G = 5 - a
H = a * 2
I = a * b # returns a float

In [ ]:
print(G)

-6

## **Boolean**

We have already seen that the operator `=` assigns some data to a variable. The function `==` checks if two variables are the same. The value returned is a boolean.

In [ ]:
print(G == B)
print(G == A)

True
False

## **Strings**

Now let's define some strings

In [ ]:
s1 = 'Humanitarian'
s2 = 'Engineering'
s3 = 'and'
s4 = "Data" # you can use either '' or "".
s5 = 'Science'

*Note:* It is good practice to use one approach consistently (either `''` or `""`) and not mix them.

You can concatenate strings using the `+` operator

In [ ]:
humEng = s1 + s2
humDataScience = s1 + s4 + s5
humEngDataScience = humEng + s3 + s4 + s5 + 'is the best'

In [ ]:
print(humEng)
print(humDataScience)
print(humEngDataScience)

HumanitarianEngineering
HumanitarianDataScience
HumanitarianEngineeringandDataScienceis the best

Note that there are no spaces. Try to redefine the strings to add the spaces.

You can replicate a string by using the `*` operator

In [ ]:
print(3*s1)

HumanitarianHumanitarianHumanitarian

You can check how many characters are in a string using the `len()` function.

*Note*: each space counts as a character.

In [ ]:
print(len(humEng))

23

You can index over a string to select specific elements of it.

 Indexing in Python starts at 0, which means that the first element in a sequence has an index of 0, the second element has an index of 1, and so on.

In [ ]:
humEng[0]

humEng[:5] # access the first 5 characters
humEng[-4:] # access the last 4 characters

humEng[9:15] # access characters from index 9 to 15
humEng[9:15:2] # access every other character from index 9 to 15

'inn'

The last character is located at the position `len(string)-1`. The last character can be also called with the index -1 and the index -2 refers to the second to last character, and so on.

In [ ]:
print(humEng[22])
print(humEng[-1])
print(humEng[-2])

You can access a range of elements using `:`.

In [ ]:
print(humEng[9:15]) # access characters from index 9 to 15
print(humEng[:5]) # access the first 5 characters
print(humEng[-4:]) # access the last 4 characters
print(humEng[9:15:2]) # access every other character from index 9 to 15

'ring'

A method is a function that is defined for a specific data type (i.e., does not work with other data types). `.upper()`, `.lower()` and `.title()` are common string methods.

In [ ]:
print(humEngDataScience.lower())
print(humEngDataScience.upper())
print(humEngDataScience.title())

humanitarianengineeringanddatascienceis the best
HUMANITARIANENGINEERINGANDDATASCIENCEIS THE BEST
Humanitarianengineeringanddatascienceis The Best

You can check the other available methods for the data type using the `help()` function.

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

## **Tuples**

Tuples are ordered sequences. They are defined by round brackets (commas are mandatory) and can contain elements of the same type or different type.

In [ ]:
tup1 = (5,1,6)
tup2 = ('a', 'b', 'c', 'd')
tup3 = (4, 'five and half', 6, 6.5, 'seven')

You can access the elements of a tuple like you access those of a string. The first element is called with a 0 and the last element is located at the position `len(tup3)-1`.

In [ ]:
print(tup3[0])
print(tup3[len(tup3)-1])

4
seven

The last element can be also called with the index -1.

In [ ]:
print(tup3[-1])

seven

The index -2 refers to the second to last element, and so on.

In [ ]:
print(tup3[-2])

6.5

As for strings, you can access ranges of elements using `:`.

In [ ]:
print(tup3[:2]) # access the first 2 elements
print(tup3[-3:]) # access the last 3 elements
print(tup3[1:3]) # access elements from index 1 to 3
print(tup3[:2]) # access every other element in the tuple

(4, 'five and half')
(6, 6.5, 'seven')
('five and half', 6)
(4, 'five and half')

Tuples can also contain other tuples (or lists). This is called nesting.

In [ ]:
tup4 = ('lev1', 'lev1', ('lev2', 'lev2', 'lev2'))

You can access the tuple at the end of `tup4` as any other element in the tuple, using indexing.

In [ ]:
tupInside = tup4[-1]
print(tupInside)

('lev2', 'lev2', 'lev2')

You can then access elements inside `tupInside` by indexing over them.

In [ ]:
print(tupInside[2])

lev2

Now run the below code.

In [ ]:
print(tupInside[2] == tup4[-1][2])

True

That's tight, `tupInside` and `tup4[-1]` are exactly the same and you can index over either of them to obtain the same element.

Tuples are **IMMUTABLE**. Once created they can't be changed.

Try running the following line of code.

In [ ]:
# tup3[0] = 5

If you want to manipulate tuples, you need to assign the result to another variable.

In [ ]:
tup1sorted = sorted(tup1) # the sort() function changes the order of values

Note that the result is not a tuple anymore.

In [ ]:
type(tup1sorted)

list

## **Lists**

A list is a **MUTABLE** ordered sequence of elements.

In [ ]:
L1 = [4, 9, 0]
L2 = [5, 0, 11]

As for tuples, lists can contain different data types including lists and tuples.

In [ ]:
L3 = [1, 'lev1', ('lev2', 'lev2', 'lev2')]

Unlike tuples, lists can be modified. The code below changes the second element in the list to `'level 1'`.

In [ ]:
L3[1] = 'level 1'
print(L3)

[1, 'level 1', ('lev2', 'lev2', 'lev2')]

You can index over a list and its elements exactly as with tuples.

In [ ]:
print(L3[2][0])

lev2

Now try the following command.

In [ ]:
# L3[2][0] = 5

That's right. Remember tuples are immutable - even if contained in a list! You cannot change their elements.

As for strings, you can use the `+` operator to concatenate lists.

In [ ]:
L4 = L2 + L3
print(L4)

[5, 0, 11, 1, 'level 1', ('lev2', 'lev2', 'lev2')]

The method `.append()` adds ONE element to the end of a list.

In [ ]:
L3.append(1)
print(L3)

[1, 'level 1', ('lev2', 'lev2', 'lev2'), 1]

The method `.extend()` adds many elements at the end of a list.

In [ ]:
L1.extend([4, 8])
print(L1)

[4, 9, 0, 4, 8]

The function `del()` deletes specific elements from a list.

In [ ]:
del(L3[1]) #deleted the second element
print(L3)

[1, ('lev2', 'lev2', 'lev2'), 1]

###**Why do we need immutable data types?**

In [ ]:
a = [1, 4, 7]
b = a # create an alias of a, named b
b[1] = 3 # change one element of b
print(a)

[1, 3, 7]

We thought we were changing `b` but `a` got changed as well. We need immutable data types so that we do not need to worry that our original object will be accidentally changed.

You can use `help(tuple)` and `help(list)` to access the relevant documentation.

##**Dictionaries**

A dictionary is a *ordered* collection of key-value pairs which does not allow duplicates (i.e., cannot have two keys with the same value).

They are defined by curly brackets. The format is `"KeyName":parameter`. Commas are mandatory.

*Note:* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [ ]:
person = {"Name": 'Napoleon', "Height": 1.45, "Weight": 60, "EmperorYears": [1804, 1815]}

You can access any element of a dictionary by calling its `KeyName`.

In [ ]:
print(person["Weight"])

60

As for lists, you can modify any element of a dictionary.

In [ ]:
person["Height"] = 5*0.3048 + 6*0.0254 # he was actually 5'6
print(person["Height"])

1.6764000000000001

You can add a new key-value pair to the `person` dictionary by designing a `KeyName` and assigning a value to it.

In [ ]:
person["horseColor"] = "White"
print(person)

{'Name': 'Napoleon', 'Height': 1.6764000000000001, 'Weight': 60, 'EmperorYears': [1804, 1815], 'horseColor': 'White'}

The method `.keys()` shows all keys in a dictionary.

In [ ]:
print(person.keys())

dict_keys(['Name', 'Height', 'Weight', 'EmperorYears', 'horseColor'])

You can also check if the dictionary contains a specific key using the `in` operator.

In [ ]:
print('Name' in person)

True

You can use `help(dict)` to access the relevant documentation.

##**Sets**

A set is a collection which is *unordered*, *unchangeable*, and *unindexed*. You can remove and add items from a set but you cannot change its items. Sets do nto allow duplicates. They are defined with curly brackets. Commas are mandatory.

In [ ]:
hazardsModel1 = {'Flood', 'Earthquake', 'Hurricane', 'Pandemics'}
hazardsModel2 = {'Earthquake', 'Pandemics'}
print(hazardsModel1)
print(hazardsModel2)

{'Earthquake', 'Flood', 'Pandemics', 'Hurricane'}
{'Pandemics', 'Earthquake'}

Lists can have duplicates, sets cannot. If you define a set with duplicates, these will be removed when the set is created.

In [ ]:
dummyList = ['Earthquake', 4, 8, 'Pandemics', 'Pandemics']
dummySet = {'Earthquake', 4, 8, 8, 'Hurricane', 'Pandemics', 'Pandemics'}
print(dummyList)
print(dummySet)

['Earthquake', 4, 8, 'Pandemics', 'Pandemics']
{4, 'Pandemics', 'Earthquake', 'Hurricane', 8}

Duplicate elements (of string type) are defined considering the case. Lower case precedes upper case.

In [ ]:
print({'Earthquake', 4, 8, 8, 'Hurricane', 'Pandemics', 'pandemics'})

{4, 'Pandemics', 'Earthquake', 'Hurricane', 8, 'pandemics'}

You can perform union and intersection operations between two sets using the operators `or` and `and` respectively.

In [ ]:
union = hazardsModel1 or hazardsModel2
intersection = hazardsModel1 and hazardsModel2
print(union)
print(intersection)

{'Earthquake', 'Flood', 'Pandemics', 'Hurricane'}
{'Pandemics', 'Earthquake'}

An alternative way to perform union is to use the method `.union()`.

In [ ]:
union2 = hazardsModel1.union(hazardsModel2)
print(union2)

{'Hurricane', 'Flood', 'Earthquake', 'Pandemics'}

You can use the `.add()` method to add elements to your set.

In [ ]:
dummySet.add(5)
print(dummySet)

{4, 'Pandemics', 'Earthquake', 'Hurricane', 8, 5}

Now try running the following commands.

In [ ]:
union.add(5)
print(union)

{5, 'Earthquake', 'Flood', 'Pandemics', 'Hurricane'}

In [ ]:
print(hazardsModel1)

{5, 'Earthquake', 'Flood', 'Pandemics', 'Hurricane'}

Adding 5 to the `union` set we also added it to the `hazardsModel1` set.

As for dictionaries, you can check that a specific element is in a set using the `in` operator.

In [ ]:
print("Hurricane" in hazardsModel1)
print("Hurricane" in hazardsModel2)

You can use `help(set)` to access the relevant documentation.

## **Comparison Operators**

Comparison operators compare some values and return a Boolean (true/false) as a result. Each comparison is called a conditional statement.

In [ ]:
a = 6

Equality

In [ ]:
print(a == 6)
print(a == 1)

True
False

Inequality

In [ ]:
print(a != 6)
print(a != 1)

False
True

Greater than

In [ ]:
print(a > 2)
print(a >= 7)

True
False

Lesser than

In [ ]:
print(a < 2)
print(a <= 10)

False
True

##**Logical Operators**

Logical operators `and`, `or` and `not` are used to combine conditional statements.

In [ ]:
print(a > 2 and a <= 10) # it is true of both conditions are true, false otherwise
print(a > 2 or a < 2) # it is true if either of the contitions are true (or both), false otherwise
print(not(a > 2 and a <= 10)) # always interts a the value of a statement

True
True
False

## **If Statements**

With an if statement you can provide instructions to do something if a condition is met, or do something else if otherwise.

In [ ]:
age1 = 20
age2 = 16

In [ ]:
if age1 >= 18:
    print('The first person can enter a pub')
else:
    print('The first person cannot enter a pub')

The first person can enter a pub

In [ ]:
if (age2 >= 18):
    print('The second person can enter a pub')
else:
    print('The second person cannot enter a pub')

The second person cannot enter a pub

Note that both the colon and indentation are mandatory. The brackets around the condition in statement 2 are not mandatory.

## **For Loops**

A for loop performs a task a specific number of times.

We define a list.

In [ ]:
xValues = [15, 16, 17, 18, 19, 20]

Now for each value in the list we want the program to perform the action `print()`.

Note that colon and indentation are necessary to define the loop and anything that is indented will be evaluated in the loop.

In [ ]:
for x in xValues:
    print(x)

15
16
17
18
19
20

Example: represent the function `y = 3x` for a set of x values (`xValues`).

To do so we define an empty list where we can store the obtained values of y. We then iterate over the x values performing the transformation `x*3 ` and store them in the new list.

In [ ]:
yValues = []

for x in xValues:
    yValues.append(3 * x)

print(yValues) # command not in the loop

[45, 48, 51, 54, 57, 60]

For loops can iterate over non-numerical lists/tuples as well. The function `enumerate()` gives you both the index and the content of a list/tuple.

In [ ]:
disasters = ('hurricane', 'earthquake', 'flood', 'hurricane')
for index, disaster in enumerate(disasters):
    print([index, disaster])

[0, 'hurricane']
[1, 'earthquake']
[2, 'flood']
[3, 'hurricane']

You can use the `range()` function to perform an action a fixed amount of times. The `range()` function starts from 0 by default, and increments by 1 (by default) until a specified value (excluded).

Note that `range(6)` is not the values of 0 to 6, but the values 0 to 5.

In [ ]:
for x in range(6):
  print('I am a Data Scientist')

I am a Data Scientist
I am a Data Scientist
I am a Data Scientist
I am a Data Scientist
I am a Data Scientist
I am a Data Scientist

`range()` can also be used for indexing.

In [ ]:
for idx in range(len(xValues)):
  print(xValues[idx])

15
16
17
18
19
20

Note this is the same as the very first loop we printed!

##**While Loops**

While loops repeat a set of code until a condition is met.

Here is an example.

Say we want to identify at what index value we have a 'flood' in the `disasters` tuple.

We define a starting index value and increment the index until the condition is met using a while loop. We then print the index and corresponding value in the tuple.

In [ ]:
i = 0
while(disasters[i] != 'flood'):
    i = i + 1

print('The first element of the tuple containing a flood is:', [i, disasters[i]])

The first element of the tuple containing a flood is: [2, 'flood']
[2, 'flood']

##**Functions**

A function takes some input, performs a specific task and returns some output.

We have encountered several functions already. Remember the `print()` function or the `len()` function? These functions are called built-in fucntions, as they are pre-defined for us.

You can use built-in functions or create your own functions. Overall, a function is just a piece of code that can be reused easily.

But how do we define a function? Here is an example.

In [ ]:
def findFirstStringInCollection(collection, stringToFind):

    i = 0
    while(collection[i] != stringToFind):
        i += 1 # another way to increment

    idFirstString = i

    return idFirstString

When defining a function, `def`, the colon and indentation are mandatory. The `return` statement defined the function's outputs. Without it, the function will return nothing.

Now given three collections we want to find the index values for specific items.

In [ ]:
collection1 = ['hurricane', 'earthquake', 'flood', 'hurricane']
stringToFind1 = 'flood'

collection2 = ['red', 'blue', 'yellow', 'green']
stringToFind2 = 'green'

collection3 = ['dog', 'cat', 'lion']
stringToFind3 = 'cat'

We can now perform this task by using a single line instead of the whole block above because we have defined a function that does this for us!

In [ ]:
id1 = findFirstStringInCollection(collection1, stringToFind1)
id2 = findFirstStringInCollection(collection2, stringToFind2)
id3 = findFirstStringInCollection(collection3, stringToFind3)
print(id1)
print(id2)
print(id3)

Note that the variables defined within the function are destroyed after running the function. Only the returned variables will be kept.

Try to print the variable `idFirstString` which is only defined inside the function. You will see that this will throw an error.

In [ ]:
# print(idFirstString)

## **Classes (not required)**

A class is a template for creating python objects.

Let's define an class.

In [ ]:
class Dog:
  pass
print(Dog) # returns a python object

<class '__main__.Dog'>

We have just defined is an empty class. We can now add properties to it. For instance we know that each dog is born with 4 legs.

In [ ]:
class Dog:
  legs = 4

print(Dog.legs)

4

But we also know that each dog has a name and an age. So we can define these as specific properties of the class which can be defined every time a class is called.

In [ ]:
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

d1 = Dog('Scamper', 3)

print(d1.name)
print(d1.age)

Scamper
3

The `__init__()` function is always executed when a class is initiated.

We can also define specific methods for a class. Remember the string-specific method `.upper()`, `.lower()` and `.title()`? We can create similar methods for our class.

In [ ]:
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def ispuppy(self):
    return self.age <= 1

d1 = Dog('Scamper', 3)
print(d1.ispuppy())

# note that you need to call the method first to generate the attribute .puppystatus

False

##**Class Inheritance**

Classes can inherit all methods and properties from other classes.

Let's define a new class Parallelepiped.

In [ ]:
class Parallelepiped:
  def __init__(self, depth, height, width, angle):
    self.depth = depth
    self.height = height
    self.width = width
    self.angle = angle

  def getVolume(self):
    self.volume = self.depth*self.height*self.width

We then define a Cube as a subclass of Parallelepiped.

In [ ]:
class Cube(Parallelepiped):
    def __init__(self, depth): # by stating __init__() function the new class no longer inherits the properties of the parent class
      self.depth = depth
      self.width = depth
      self.height = depth
      self.angle = 90

c10 = Cube(10)
c10.getVolume() # note that you need to call the method first to generate the attribute .volume
print(c10.volume)

1000

The class Cube has inherited the method `.getVolume()` from the class Parallelepiped.